{% extends "base.html" %}
{% block content %}

	<div class="text-center my-5">
		<h1>Job Search</h1>
		<h3>Web scraping from indeed</h3>
	</div>
	<hr>

	<div class="text-center">
		{% if not keyword and not location %}
			<h4 style="color:red">Atleast one of the fields should be filled</h4>
			<a href="/"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
		{% elif length == 0 %}	
			<h4 style="color:red">No Jobs found</h4>
			<a href="/"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
		{% else %}	
			<h4 style="color:green">{{length}} Jobs found</h4>
			<a href="https://jobs-csv-storage.s3.us-east-2.amazonaws.com/job_list.xlsx" download><i class="fa fa-download" aria-hidden="true"></i></a> 
			<a href="/"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
		{% endif %}
	</div>

{% endblock %}
